/.cache/
/.cmake/
/.idea/
/.mypy_cache/
/.ruff_cache/
/.scannerwork/
/.temp/
/codegen/
/compile_commands.json
/resources/*.basis
/resources/atlas.png
/resources/gamelib.bin
/vendor/basis_universal/bin/
/vendor/gameanalytics-sdk-cpp/gtest_build/
__pycache__/
