*.reapeaks
*.rpp-bak
/.cache/
/.cmake/
/.idea/
/.mypy_cache/
/.ruff_cache/
/.scannerwork/
/.temp/
/assets/art/src/main*.png
/codegen/
/compile_commands.json
/resources/*.basis
/resources/*.ogg
/resources/*.wav
/resources/atlas.png
/resources/gamelib.bin
/vendor/basis_universal/bin/
/vendor/gameanalytics-sdk-cpp/gtest_build/
CMakeFiles/
__pycache__/
